rules_version = '2';
service cloud.firestore {

  function isSignedIn() {
    return request.auth != null;
  }

  function getRole(rsc) {
    // Read from the "roles" map in the resource (rsc).
    return rsc.data.roles[request.auth.uid];
  }

  function isOneOfRoles(rsc, array) {
    // Determine if the user is one of an array of roles
    return isSignedIn() && (getRole(rsc) in array);
  }

  function isValidNewStory() {
    // Valid if story does not exist and the new story has the correct owner.
    return resource == null
      && request.resource.data.roles[request.auth.uid] == 'owner';
  }
  
  match /databases/{database}/documents {
  	match /users/{userId} {
    	allow read: if true;
      allow write: if isSignedIn() && request.auth.uid == userId
    }
    match /districts/{district}/schools/{school} {
    	allow read: if true;
      allow write: if isSignedIn() && isOneOfRoles(school, ['owner'])
    }
    
    match /districts/{district}/schools/{school}/passes/{pass} {
    	// Update to only allow teachers to write and read
    	allow read: if true;
      allow write: if true;
    }
    match /districts/{district}/schools/{school}/rooms/{room} {
    	// Update to only allow teachers to write and read
    	allow read: if true;
      allow write: if true;
    }
    match /districts/{district}/schools/{school}/students/{student} {
    // Update to only allow teachers to write and read
    	allow read: if true;
      allow write: if isSignedIn() && isOneOfRoles(school, ['owner'])
    }
    match /districts/{district}/schools/{school}/rooms/{room}/passes/{pass} {
    // Update to only allow teachers to write and read
    	allow read: if true;
      allow write: if true;
    }
    match /districts/{district}/schools/{school}/students/{student}/passes/{passes} {
    // Update to only allow teachers to write and read
    	allow read: if true;
      allow write: if true;
    }
  	match /districts/{district} {
    	allow read: if true;
      allow write: if false;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}